@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #fff;
  color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); /* skapar en skugga */
  position: relative; /* används för att använda ett så kallat psuedo element */
  z-index: 1;
}

/*Förklaring: */
/* Allt detta händer efter headern är placerad och är ett psuedo element alltså skuggan mellan header och main*/
/* man skulle kunna säga: man skapar samma header fast med en skugga och sen tar bort allt förutom skuggan som läggs på */
header::after {
  content: ""; /* Här lägger vi till en tom sträng i psuedo elementet för vi vill inte ha något här */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10px; /* Höjden på skuggan som skapas */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2; /* Se till att skuggan är överst basically */
}

main {
  margin-top: -10px; /* negativt värde för att flytta main lite så att den är på skuggan */
  z-index: 0; /* Se till att main är bakom skuggan med detta*/
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  display: block;
  /* background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
  background-repeat: no-repeat;
  background-position: left center; */
  height: 45px;
  width: 35%;
  border-radius: 8px;
  color: black;
  background-color: #dddddd;
  padding: 0 40px 0 40px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-bar i {
  display: inline-block;
  /* position: absolute; */
  color: #000000;
  border: none;
  cursor: pointer;
  z-index: 2;
  margin-right: -30px;
  /* margin-right: 28%; */

  /* För att sätta position till hälften av sökfältet */
}

.search-bar input::placeholder {
  color: #000000; /* Ändra färgen på platshållartexten */
}

.login-button {
  color: white;
  padding: 15px 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: rgb(44, 158, 145);
  text-decoration: none;
}

.hamburgarmeny img {
  height: 70px;
  flex: 1;
  display: none;
}

button {
  background-color: rgb(44, 158, 145);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 2%;
  flex-shrink: 0;
  margin-left: 5%;
}

.logo img {
  height: 90px;
  flex-shrink: 0;
}

/* slanted picture */
.slanted {
  position: relative;
  min-height: 300px;
  min-width: 100%;
  background: url(Car-dealership.jpeg) no-repeat right / 64% scroll;
  display: inline-flex;
  justify-content: flex-start;
  align-content: center;
}

.slanted:after,
.slanted:before {
  content: "";
  position: absolute;
}
.slant-to-right:before {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(39, 37, 37);
  clip-path: polygon(0% 0%, 0% 350%, 55% 0%);
}
.slanted p {
  position: relative;
  z-index: 2;
  margin-left: 20px;
  font-size: 2rem;
  text-align: left;
  align-self: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
}

.background-size-hover {
  background-position: right;
  transition: background-size 0.3s;
  /* transition: min-width 0.5s; */
}

.background-size-hover:hover {
  background-size: 64.5%;
  /* min-width: 130%; */
}

.upper-text {
  font-size: 4.5vw;
}

.colored-text {
  color: rgb(157, 171, 186);
  display: block;
  font-size: 4.5vw;
}

.car-main-div-text {
  display: flex;
  background-color: rgb(205, 205, 205);
  height: 100px;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.car-main-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  background-color: #e8e8e8;
  height: 1800px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

/* #carImageContainer img {
  filter: blur(10px);
} */

#carImageContainer {
  position: static;
}
#carImage {
  position: absolute;
  overflow: hidden;
  height: auto;
  width: 100vw;
  z-index: 2;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-size: cover;
  filter: blur(10px);
}

#foregroundImage {
  position: relative;
  width: 100%;
  height: auto;
}
/* #carImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-size: cover;
  z-index: -1;
  filter: blur(10px);
} */

.rubrik {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

.bil-rubrik {
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}

.bil-container {
  background-color: #f3f3f3;
  flex: 1;
  text-align: center;
  margin: 10px;
  overflow: hidden;
}

.bil-container:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  background-size: 40%;
}

.bil-container:hover img {
  transform: scale(1.02);
}

.bil-container img {
  height: 275px;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.bil-container p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}

#carImage {
  display: flex;
  width: 100%;
  height: 300px;
}

.footer-container {
  background-color: #cfcece;
}

.footer-div {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  padding: 20px;
}

.footer-meny {
  text-align: center;
  margin: 0 10px;
}

.p-footer-meny {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sticky-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999; /*högt nummer för att den ska vara längst fram */
}

.sticky-button a {
  display: inline-block;
  padding: 15px 30px;
  background-color: rgb(44, 158, 145);
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.main-login-div {
  display: flex;
  background-color: rgb(147, 255, 219);
  height: 1000px;
  justify-content: center;
}

.login-container {
  background-color: whitesmoke;
  margin: 50px;
  width: 500px;
  height: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

@media only screen and (max-width: 480px) {
  .logo img {
    width: 70px; /* Justera bredden efter behov */
    height: auto; /* Automatisk höjdjustering för att bevara proportionerna */
  }
  button {
    display: none;
  }
  .hamburgarmeny img {
    display: block;
  }
}
